footer {
  background: $color1;
  width: 80%;
  margin: 0 auto;  
  div {
    background: $color5;
    color: set-text-color($color5);
    padding: 1rem;
    border: 1px solid $color4;
  }
  .links {
  }
  .contact-details {
  }
  .social-links {
  }
}