header {
  background: $color2;  
  .menu {
    background: darken($color2, 10%);    
    padding: 1rem;
    &__link {
      padding: 1rem;
      text-decoration: none;
      color: #fff;
      &:hover {
        background: #fff;
        color: $color2;
      }
    }
  }

  .banner {    
    height: 20vh;
    padding: 1rem;
    .help {

    }
    .logo {
      
    }
    .call-to-action {     
      &__button {
        padding: 0.5rem;        
        background: darken($color2, 10%);
        border: 1px solid #fff;
        border-radius: 0.5rem;
        color: #fff;
      }
    }
  }
}